<h1>books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @books.each do |book| %>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "Show", book_path %></td>
        <td><%= link_to "Edit", edit_book_path %></td>
        <td><%= link_to "Destroy", book_path(@book) %></td>
      <% end %>
    </tr>
  </tbody>
</table>